Repository limaon/ArchInstaller, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, GitHub-Action, Configs, Package-Files, scripts, debug, helpers, installers

.github/labeler.yml:

repo:
    - '*'

GitHub-Action:
    - .github/workflows/*

Configs:
    - configs/**/*

Package-Files:
    - packages/**/*

scripts:
    - scripts/**/*

debug:
    - scripts/debug/**/*

helpers:
    - scripts/helpers/**/*

installers:
    - scripts/installers/**/*

feat: implement auto suspend/hibernate functionality for i3-wm
  configs/i3-wm/etc/systemd/logind.conf.d/50-hibernate.conf
  configs/i3-wm/usr/local/bin/auto-suspend-hibernate
  configs/i3-wm/usr/local/bin/check-swap-for-hibernate
  packages/desktop-environments/i3-wm.json
  scripts/2-user.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: Configs, Package-Files, scripts

feat: enhance swap detection and hibernation configuration in scripts
  configs/i3-wm/usr/local/bin/check-swap-for-hibernate
  scripts/utils/system-config.sh
Labels: Configs, scripts

feat: integrate PipeWire audio server configuration and update package lists
  packages/base.json
  packages/desktop-environments/i3-wm.json
  packages/desktop-environments/kde.json
  packages/optional/fonts.json
  scripts/3-post-setup.sh
  scripts/utils/system-config.sh
Labels: Package-Files, scripts

feat: add troubleshooting section for auto suspend/hibernate in i3-wm
  docs/TROUBLESHOOTING.md
Labels: none

fix: improve faillock configuration handling in system-config.sh
  scripts/utils/system-config.sh
Labels: scripts

feat: enhance user environment configuration for i3-wm
  .gitignore
  configs/base/etc/skel/.bash_profile
  configs/base/etc/skel/.bashrc
  configs/base/etc/skel/.config/nvim/init.lua
  configs/base/etc/skel/.nanorc
  configs/base/root/.bash_logout
  configs/base/root/.bash_profile
  configs/base/root/.bashrc
  configs/base/root/.inputrc
  configs/base/root/.profile
  configs/i3-wm/etc/skel/.Xresources
  configs/i3-wm/etc/skel/.config/dunst/dunstrc
  configs/i3-wm/etc/skel/.config/gtk-4.0/gtk.css
  configs/i3-wm/etc/skel/.config/gtk-4.0/settings.ini
  configs/i3-wm/etc/skel/.config/i3/config
  configs/i3-wm/etc/skel/.config/i3blocks/config
  configs/i3-wm/etc/skel/.config/picom/picom.conf
  configs/i3-wm/etc/skel/.config/systemd/user/battery-alert.service
  configs/i3-wm/etc/skel/.config/systemd/user/battery-alert.timer
  configs/i3-wm/etc/skel/.gtkrc-2.0
  configs/i3-wm/etc/skel/.xprofile
  packages/desktop-environments/i3-wm.json
  scripts/1-setup.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: repo, Configs, Package-Files, scripts

feat: enhance swap detection and hibernation configuration in scripts
  configs/i3-wm/usr/local/bin/check-swap-for-hibernate
  scripts/utils/system-config.sh
Labels: Configs, scripts

feat: implement auto suspend/hibernate functionality for i3-wm
  configs/i3-wm/etc/systemd/logind.conf.d/50-hibernate.conf
  configs/i3-wm/usr/local/bin/auto-suspend-hibernate
  configs/i3-wm/usr/local/bin/check-swap-for-hibernate
  packages/desktop-environments/i3-wm.json
  scripts/2-user.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: Configs, Package-Files, scripts

fix: ensure configuration directory exists before creating setup.conf
  scripts/configuration.sh
Labels: scripts

feat: enhance user environment configuration for i3-wm
  .gitignore
  configs/base/etc/skel/.bash_profile
  configs/base/etc/skel/.bashrc
  configs/base/etc/skel/.config/nvim/init.lua
  configs/base/etc/skel/.nanorc
  configs/base/root/.bash_logout
  configs/base/root/.bash_profile
  configs/base/root/.bashrc
  configs/base/root/.inputrc
  configs/base/root/.profile
  configs/i3-wm/etc/skel/.Xresources
  configs/i3-wm/etc/skel/.config/dunst/dunstrc
  configs/i3-wm/etc/skel/.config/gtk-4.0/gtk.css
  configs/i3-wm/etc/skel/.config/gtk-4.0/settings.ini
  configs/i3-wm/etc/skel/.config/i3/config
  configs/i3-wm/etc/skel/.config/i3blocks/config
  configs/i3-wm/etc/skel/.config/picom/picom.conf
  configs/i3-wm/etc/skel/.config/systemd/user/battery-alert.service
  configs/i3-wm/etc/skel/.config/systemd/user/battery-alert.timer
  configs/i3-wm/etc/skel/.gtkrc-2.0
  configs/i3-wm/etc/skel/.xprofile
  packages/desktop-environments/i3-wm.json
  scripts/1-setup.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: repo, Configs, Package-Files, scripts

feat: add troubleshooting section for auto suspend/hibernate in i3-wm
  docs/TROUBLESHOOTING.md
Labels: none

feat: integrate PipeWire audio server configuration and update package lists
  packages/base.json
  packages/desktop-environments/i3-wm.json
  packages/desktop-environments/kde.json
  packages/optional/fonts.json
  scripts/3-post-setup.sh
  scripts/utils/system-config.sh
Labels: Package-Files, scripts

chore: remove clipcat.service from systemd user configuration
  configs/i3-wm/etc/skel/.config/systemd/user/clipcat.service
  packages/btrfs.json
  scripts/utils/system-config.sh
Labels: Configs, Package-Files, scripts

feat: implement battery notifications for i3-wm
  README.md
  configs/i3-wm/etc/udev/rules.d/60-battery-notifications.rules
  configs/i3-wm/usr/local/bin/battery-alert
  configs/i3-wm/usr/local/bin/battery-charging
  configs/i3-wm/usr/local/bin/battery-udev-notify
  docs/FUNCTIONS-REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USER-GUIDE.md
  packages/desktop-environments/i3-wm.json
  scripts/2-user.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: repo, Configs, Package-Files, scripts

feat: add autorandr package to i3-wm minimal configuration
  packages/desktop-environments/i3-wm.json
Labels: Package-Files

fix: improve faillock configuration handling in system-config.sh
  scripts/utils/system-config.sh
Labels: scripts

fix: ensure configuration file and directory exist in installer-helper script
  scripts/utils/installer-helper.sh
Labels: scripts

feat: enhance i3-wm configuration for auto suspend/hibernate functionality
  configs/i3-wm/etc/skel/.config/i3/config
  docs/TROUBLESHOOTING.md
  scripts/utils/software-install.sh
Labels: Configs, scripts

feat: enhance i3-wm configuration for auto suspend/hibernate functionality
  configs/i3-wm/etc/skel/.config/i3/config
  docs/TROUBLESHOOTING.md
  scripts/utils/software-install.sh
Labels: Configs, scripts

feat: enhance bootloader installation process for UEFI and Legacy BIOS systems
  scripts/0-preinstall.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
Labels: scripts

feat: enhance architecture and functions documentation for improved clarity and functionality
  docs/ARCHITECTURE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/README.md
Labels: none

feat: expand FUNCTIONS-REFERENCE.md with new detection and configuration functions
  docs/FUNCTIONS-REFERENCE.md
Labels: none

refactor: update troubleshooting documentation for auto suspend/hibernate and add Btrfs snapshot restoration guide
  docs/TROUBLESHOOTING.md
Labels: none

feat: expand FUNCTIONS-REFERENCE.md with new detection and configuration functions
  docs/FUNCTIONS-REFERENCE.md
Labels: none

refactor: update troubleshooting documentation for auto suspend/hibernate and add Btrfs snapshot restoration guide
  docs/TROUBLESHOOTING.md
Labels: none

feat: enhance bootloader installation process for UEFI and Legacy BIOS systems
  scripts/0-preinstall.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
Labels: scripts

feat: enhance architecture and functions documentation for improved clarity and functionality
  docs/ARCHITECTURE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/README.md
Labels: none

docs: enhance documentation with visual diagrams, git workflow, and function reference
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT-GUIDE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/README.md
Labels: none

fix(swap): use dedicated @swap subvolume for btrfs to prevent snapshot conflicts
  docs/ARCHITECTURE.md
  docs/TROUBLESHOOTING.md
  scripts/fix-swap.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: scripts

fix(swap): improve btrfs swapfile creation with better error handling
  scripts/utils/system-config.sh
Labels: scripts

feat(swap): add user-selectable swap configuration with ZRAM/swapfile options
  docs/ARCHITECTURE.md
  scripts/configuration.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: scripts

fix(shellcheck): resolve shellcheck warnings in configuration scripts
  scripts/configuration.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: scripts

fix(shellcheck): resolve shellcheck warnings in configuration scripts
  scripts/configuration.sh
  scripts/utils/system-config.sh
Labels: scripts

fix: restore proper configuration.sh structure and fix user-options.sh
  scripts/configuration.sh
  scripts/utils/user-options.sh
Labels: scripts

fix: add newline after password confirmation in set_password()
  scripts/utils/user-options.sh
Labels: scripts

fix: quote all values with spaces in set_option()
  scripts/utils/installer-helper.sh
Labels: scripts

fix: handle reflector Python import error with rankmirrors fallback
  scripts/utils/system-config.sh
Labels: scripts

debug: add error details for reflector troubleshooting
  scripts/0-preinstall.sh
  scripts/utils/system-config.sh
Labels: scripts

improve: optimize rankmirrors parameters for better mirror selection
  scripts/utils/system-config.sh
Labels: scripts

fix: resolve critical issues in do_btrfs() function for btrfs installations
  scripts/utils/system-config.sh
Labels: scripts
