Repository limaon/ArchInstaller, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, GitHub-Action, Configs, Package-Files, scripts, debug, helpers, installers

.github/labeler.yml:

repo:
    - '*'

GitHub-Action:
    - .github/workflows/*

Configs:
    - configs/**/*

Package-Files:
    - packages/**/*

scripts:
    - scripts/**/*

debug:
    - scripts/debug/**/*

helpers:
    - scripts/helpers/**/*

installers:
    - scripts/installers/**/*

fix(btrfs): add @swap subvolume entry to fstab for swapfile access on boot
  archinstall.sh
  scripts/utils/logging.sh
  scripts/utils/system-config.sh
Labels: repo, scripts

style(user-options): fix tab indentation in set_password function
  scripts/utils/user-options.sh
Labels: scripts

feat(swap): implement automatic swap decision based on hardware detection
  scripts/utils/system-config.sh
Labels: scripts

feat(user-options): remove manual SWAP_TYPE selection
  scripts/utils/user-options.sh
Labels: scripts

docs(readme): remove reference to non-existent fix-swap.sh
  README.md
Labels: repo

docs(auto-swap): add comprehensive automatic swap detection documentation
  docs/AUTO-SWAP-DETECTION.md
Labels: none

Remove xidlehook dependency and simplify power management
  packages/desktop-environments/awesome.json
  packages/desktop-environments/i3-wm.json
  packages/desktop-environments/openbox.json
  scripts/utils/power-status.sh
  scripts/utils/software-install.sh
Labels: Package-Files, scripts

Translate troubleshooting documentation to English
  docs/troubleshooting/COMMON-PROBLEMS.md
  docs/troubleshooting/QUICK-CHECK.md
  docs/troubleshooting/README.md
  docs/troubleshooting/REPORTING.md
  docs/troubleshooting/SPECIFIC-FEATURES.md
  docs/troubleshooting/VERIFICATION.md
Labels: none

Remove old Portuguese troubleshooting documentation structure
  docs/TROUBLESHOOTING.md
Labels: none

Update main README.md navigation for internationalization
  docs/README.md
Labels: none

Configure Awesome Slick Greeter with solid color background
  configs/awesome/etc/lightdm/slick-greeter.conf
Labels: Configs

Update i3-wm config to use solid color background
  configs/i3-wm/etc/skel/.config/i3/config
Labels: Configs

Modify i3-wm installation script to use solid color for all profiles
  scripts/utils/software-install.sh
Labels: scripts

Update LightDM system configuration for solid color background
  scripts/utils/system-config.sh
Labels: scripts

Remove archlinux-wallpaper package from dependencies
  packages/base.json
Labels: Package-Files

Add GRUB recovery guide for Btrfs subvolumes
  docs/troubleshooting/COMMON-PROBLEMS.md
Labels: none

Add GRUB recovery guide for Btrfs subvolumes
  docs/troubleshooting/COMMON-PROBLEMS.md
Labels: none

feat(i3-wm): replace zafiro icons with Pop icon theme
  configs/i3-wm/etc/skel/.config/dunst/dunstrc
  configs/i3-wm/etc/skel/.config/gtk-3.0/settings.ini
  configs/i3-wm/etc/skel/.config/gtk-4.0/settings.ini
  configs/i3-wm/etc/skel/.config/i3/config
  configs/i3-wm/etc/skel/.gtkrc-2.0
  configs/i3-wm/etc/skel/.xinitrc
  packages/desktop-environments/i3-wm.json
Labels: Configs, Package-Files

fix: disable lightdm greeter beep and normalize DE package JSON
  packages/desktop-environments/awesome.json
  packages/desktop-environments/budgie.json
  packages/desktop-environments/cinnamon.json
  packages/desktop-environments/deepin.json
  packages/desktop-environments/gnome.json
  packages/desktop-environments/i3-wm.json
  packages/desktop-environments/kde.json
  packages/desktop-environments/lxde.json
  packages/desktop-environments/mate.json
  packages/desktop-environments/openbox.json
  packages/desktop-environments/xfce.json
  scripts/utils/system-config.sh
Labels: Package-Files, scripts

feat: add cpupower package and enable system service
  .gitignore
  packages/base.json
  scripts/utils/software-install.sh
Labels: repo, Package-Files, scripts

chore: add AGENTS.md to .gitignore
  .gitignore
Labels: repo

style: standardize indentation and formatting in package JSON files
  packages/base.json
  packages/btrfs.json
  packages/gpu-drivers.json
  packages/optional/fonts.json
Labels: Package-Files
