Repository limaon/ArchInstaller, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, GitHub-Action, Configs, Package-Files, scripts, debug, helpers, installers

Update configuration files and scripts for improved setup and user options.
  configs/i3-wm/etc/skel/.xprofile
  packages/base.json
  packages/btrfs.json
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: Configs, Package-Files, scripts

Add configuration files for i3-wm and update related scripts and package definitions.
  configs/i3-wm/etc/X11/xorg.conf.d/40-libinput.conf
  configs/i3-wm/etc/skel/.config/clipcat/clipcat-menu.toml
  configs/i3-wm/etc/skel/.config/clipcat/clipcatctl.toml
  configs/i3-wm/etc/skel/.config/clipcat/clipcatd.toml
  configs/i3-wm/etc/skel/.config/gtk-3.0/gtk.css
  configs/i3-wm/etc/skel/.config/gtk-3.0/settings.ini
  configs/i3-wm/etc/skel/.config/i3/config
  configs/i3-wm/etc/skel/.config/libfm/libfm.conf
  configs/i3-wm/etc/skel/.config/systemd/user/clipcat.service
  packages/btrfs.json
  packages/desktop-environments/i3-wm.json
  scripts/0-preinstall.sh
  scripts/3-post-setup.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: Configs, Package-Files, scripts

Include some packages and commented lines
  packages/desktop-environments/i3-wm.json
  scripts/utils/system-config.sh
Labels: Package-Files, scripts

Fix mount option variable name
  scripts/utils/system-config.sh
Labels: scripts

Update i3 config, btrfs, i3-wm, fonts packages, and system-config.sh scripts
  configs/i3-wm/etc/skel/.config/i3/config
  packages/btrfs.json
  packages/desktop-environments/i3-wm.json
  packages/optional/fonts.json
  scripts/utils/system-config.sh
Labels: Configs, Package-Files, scripts

Remove clipcat configurations and update libfm.conf
  configs/i3-wm/etc/skel/.config/clipcat/clipcat-menu.toml
  configs/i3-wm/etc/skel/.config/clipcat/clipcatctl.toml
  configs/i3-wm/etc/skel/.config/clipcat/clipcatd.toml
  configs/i3-wm/etc/skel/.config/libfm/libfm.conf
Labels: Configs

fix(installer): mount option variable mismatch
  .github/workflows/semantic-pr.yml
  scripts/utils/installer-helper.sh
  scripts/utils/system-config.sh
Labels: GitHub-Action, scripts

fix(.github/workflows/linter.yml): Adjust linter configuration for specific languages and exclude certain directories
  .github/workflows/linter.yml
Labels: GitHub-Action

Add a web interface for Arch Linux installation configuration
  .gitignore
  .replit
  app.py
  pyproject.toml
  static/css/style.css
  static/js/config.js
  templates/base.html
  templates/config.html
  templates/doc_view.html
  templates/docs.html
  templates/index.html
  uv.lock
Labels: repo

Update project to use latest version of the framework
  .replit
Labels: repo

Add a web server to host the application
  .replit
  pyproject.toml
  uv.lock
Labels: repo

Add optional package group selection to configuration generator
  app.py
  replit.md
  static/css/style.css
  static/js/config.js
  templates/config.html
Labels: repo

Improve form validation for user registration and login
  .replit
Labels: repo

Remove web application interface and related files
  .gitignore
  .replit
  app.py
  archinstall.sh
  pyproject.toml
  replit.md
  static/css/style.css
  static/js/config.js
  templates/base.html
  templates/config.html
  templates/doc_view.html
  templates/docs.html
  templates/index.html
  uv.lock
Labels: repo

Update documentation to include architecture and development guides
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT-GUIDE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/PACKAGE-SYSTEM.md
  docs/README.md
  docs/REFERENCE-0-preinstall.md
  docs/REFERENCE-1-setup.md
  docs/REFERENCE-2-user.md
  docs/REFERENCE-3-post-setup.md
  docs/REFERENCE-archinstall.md
  docs/REFERENCE-configuration.md
  docs/REFERENCE-installer-helper.md
  docs/REFERENCE-software-install.md
  docs/REFERENCE-system-checks.md
  docs/REFERENCE-system-config.md
  docs/REFERENCE-user-options.md
  docs/REFERENCE.md
  docs/USER-GUIDE.md
Labels: none

Translate documentation and code comments to English
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT-GUIDE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/PACKAGE-SYSTEM.md
  docs/README.md
  docs/USER-GUIDE.md
Labels: none

Ignore Replit files from version control
  .gitignore
Labels: repo

Update CI configuration to use 4 spaces for code formatting
  .github/workflows/generate-documentation.yml
  .github/workflows/linter.yml
Labels: GitHub-Action

Add user authentication and authorization to the platform
  .replit
Labels: repo

Improve the responsiveness of the website for all users
  .replit
Labels: repo

Remove Arch Linux installation script and ignore local configuration
  replit.md
Labels: repo

chore: remove unnecessary files from repository
  .replit
Labels: repo

fix(ci): use allowlist for Super-Linter to avoid mixed VALIDATE flags
  .github/workflows/linter.yml
Labels: GitHub-Action

Deleted workflow file
  .github/workflows/linter.yml
Labels: GitHub-Action

Add GitHub Actions workflow for Super Linter
  .github/workflows/linter.yml
Labels: GitHub-Action

refactor: enhance disk selection and partitioning logic
  scripts/utils/installer-helper.sh
  scripts/utils/system-config.sh
  scripts/utils/user-options.sh
Labels: scripts

refactor: enhance user options handling in installation script
  scripts/utils/user-options.sh
Labels: scripts

refactor: improve LightDM configuration and i3-wm theming logic
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: scripts

refactor: enhance package installation logic in software-install.sh
  scripts/utils/software-install.sh
Labels: scripts

refactor: standardize documentation formatting and improve clarity
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT-GUIDE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/PACKAGE-SYSTEM.md
  docs/README.md
  docs/USER-GUIDE.md
  packages/base.json
  packages/desktop-environments/i3-wm.json
Labels: Package-Files

refactor: enhance documentation and installation logic for disk usage and package management
  docs/ARCHITECTURE.md
  docs/FUNCTIONS-REFERENCE.md
  docs/PACKAGE-SYSTEM.md
  docs/README.md
  docs/USER-GUIDE.md
Labels: none

refactor: enhance timezone selection process in user-options script
  scripts/utils/installer-helper.sh
  scripts/utils/user-options.sh
Labels: scripts

refactor: improve key input handling in installer-helper script
  scripts/utils/installer-helper.sh
Labels: scripts

refactor: enhance installation process and documentation for Arch Linux installer
  README.md
  docs/FUNCTIONS-REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USER-GUIDE.md
  scripts/3-post-setup.sh
  scripts/fix-swap.sh
  scripts/utils/installer-helper.sh
  scripts/utils/system-config.sh
  scripts/verify-installation.sh
Labels: repo, scripts

feat: add GPU driver installation logic and detection functions
  packages/gpu-drivers.json
  scripts/utils/software-install.sh
Labels: Package-Files, scripts

fix: ensure configuration directory exists before creating setup.conf
  scripts/configuration.sh
Labels: scripts

feat: add autorandr package to i3-wm minimal configuration
  packages/desktop-environments/i3-wm.json
Labels: Package-Files

fix: ensure configuration file and directory exist in installer-helper script
  scripts/utils/installer-helper.sh
Labels: scripts

chore: remove clipcat.service from systemd user configuration
  configs/i3-wm/etc/skel/.config/systemd/user/clipcat.service
  packages/btrfs.json
  scripts/utils/system-config.sh
Labels: Configs, Package-Files, scripts

feat: implement battery notifications for i3-wm
  README.md
  configs/i3-wm/etc/udev/rules.d/60-battery-notifications.rules
  configs/i3-wm/usr/local/bin/battery-alert
  configs/i3-wm/usr/local/bin/battery-charging
  configs/i3-wm/usr/local/bin/battery-udev-notify
  docs/FUNCTIONS-REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USER-GUIDE.md
  packages/desktop-environments/i3-wm.json
  scripts/2-user.sh
  scripts/utils/software-install.sh
  scripts/utils/system-config.sh
Labels: repo, Configs, Package-Files, scripts

.github/labeler.yml:

repo:
    - '*'

GitHub-Action:
    - .github/workflows/*

Configs:
    - configs/**/*

Package-Files:
    - packages/**/*

scripts:
    - scripts/**/*

debug:
    - scripts/debug/**/*

helpers:
    - scripts/helpers/**/*

installers:
    - scripts/installers/**/*
